body {
    background-color: #e31092;
    color: rgb(0, 81, 255);
    margin: 0;
    overflow: hidden;
  }
  
  #lienzo {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid rgb(255, 255, 255);
    box-sizing: border-box;
  }